{% extends 'base.html'%}

{% block content %}

{% if searched %}

        <h1>These are the properties found in {{ searched|title }}</h1><br/>


           <!--{% for listing in listings %}-->
           <div id="properties">
            <div class="card" style="width: 18rem;">
               {% load static %}
               {% if listing.picture %}
                 <img src="{{% static listing.picture.url %}}">
                    {% endif %}
                        <div class="card-body">
                         <ul>
                            <p>{{ listing.address }}</p>
                             <p>{{ listing.bedrooms }} Bedrooms</p>
                             <p>{{ listing.bathrooms }} Bathrooms</p>
                            <p>{{ listing.property_type }}</p>
                            <p>{{ listing }}</p>
                         </ul>
                    </div>
                 </div>
               </div>
             </div>
         <!--{{ listing.description }}-->
            <!--{% endfor %}-->

    {% else %}

        <h1>Not Found, Please make sure you have filled in the correct search fields.</h1>

{% endif %}

{% endblock content %}

