{% extends 'base.html'%}

{% block content %}

{% if searched %}
        <h1>These are the properties found in {{ searched }}</h1>
        <br/>
    <!--{% for listing in listings %}-->

   <div id="properties">
    <div class="card" style="width: 18rem;">
    {% load static %}
      <!--<img class="card-img-top" src="" alt="Card image cap">-->
         {% if listing.picture %}
       <img src="{{ listing.picture.url }}">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ listing }}<br/>
                               {{ listing.address }}<br/></h5>
      </div>
      </div>
     </div>
    </div>

    <!--{% endfor %}-->

    {% else %}
        <h1>Not Found, Please make sure you have filled in the correct search fields.</h1>
{% endif %}

{% endblock content %}

<!--{% static 'images/property.jpeg'%}-->