/*Nav Bar*/

.nav-link{
 display: inline;
}


/*Search bar main page*/
html,
body,
.intro {
  height: 100%;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/*about*/
.about-title {
  text-align: center;
}

.about-content{
 text-align: center;
 padding: 85px;
 margin: 25px;
}

/*properties*/
#properties{
 display: inline-block;
 padding: 50px;
}

#properties{
 width: 295px
}

#properties, p{
   margin-bottom: 0rem;
}

img {
  height: 300px;
  overflow: hidden;
}
