{% extends 'base.html'  %}

{% block content %}

 <section class="intro">
      <div class="bg-image h-100" style="
              background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img2.jpg);
            ">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(61, 162, 195, 0.1);" >
          <div class="container">
            <div class="card mask-custom p-4">
              <div class="card-body">
                <p class="h1 font-weight-bold mb-4 text-white">Find your new London Home </p>
                <div class="row justify-content-center">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <form method=POST action="{% url 'propertylistings' %}">
                      {% csrf_token %}
                    <div id="basic" class="form-outline form-white" >
                      <input type="text" id="form1" class="form-control form-control-lg" />
                      <label class="form-label" for="form1" >House/Flat</label>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                    <div id="location" class="form-outline form-white">
                      <input type="text" id="form2" class="form-control form-control-lg" name="searched"/>
                      <label class="form-label" for="form2">City</label>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <input class="btn btn-info btn-block btn-lg" type="submit" value="Search" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   </head>

   {% endblock content %}